<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Привет, Марс!</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
  <h1>Жди нас, Марс!</h1><br>
  <img src={{filename}} alt="здесь должна была быть картинка,
      но не нашлась" height="400" width="600"><br>
  <h3 class="c1">Человечество вырастает из детства.</h3>
  <h3 class="c3">Человечеству мала одна планета.</h3>
  <h3 class="c2">Мы сделаем обитаемыми безжизненные пока планеты.</h3>
  <h3 class="c1">И начнем с Марса!</h3>
  <h3 class="c3">Присоединяйся!</h3>
</body>
</html>