<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{style}}>
</head>
<body>
    <div align="center">
        <form class="login_form" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*">
            <img src={{filename}} alt="Здесь могла бы быть ваша реклама" height="400" width="600">

            <div align="justify">
                <button class="button" type="submit" name="scan">Отправить!</button>
            </div>
        </form>
    </div>
</body>
</html>